Repository Opty1712/ts-all: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, styles, type-check-app, typograf-locales

lefthook.yml:

pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: export NODE_OPTIONS=--max-old-space-size=8192 && npx eslint --fix --quiet {staged_files} && git add {staged_files}
    prettier:
      glob: '*.{js,css,scss,ts,tsx,json,html,md}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    styles:
      glob: '*.{css,scss}'
      run: npx stylelint --allow-empty-input --fix {staged_files} && git add {staged_files}
    type-check-app:
      glob: 'packages/app/**/*.{ts,tsx}'
      run: cd packages/app && npm run type-check
    typograf-locales:
      glob: 'packages/app/**'
      run: cd packages/app && npm run typograf-locales && cd ../../ && git add {staged_files}

improved figma link
  packages/icons/README.md
Due: prettier

added links
  README.md
Due: prettier

basicClass
  packages/e2e-tests/basicClass.ts
  packages/e2e-tests/layout.test.ts
Due: eslint, prettier

dtsmap fixes
  .vscode/settings.json
  packages/app/src/components/FavoriteButton/FavoriteButton.module.css
  packages/common-utils/scripts/generateCssDtsMaps.js
Due: eslint, prettier, styles, typograf-locales

new icons
  packages/icons/dist/SomeVKProject-bmjvtt.woff2
  packages/icons/dist/SomeVKProject.woff2
  packages/icons/dist/index.css
  packages/icons/dist/index.d.ts
  packages/icons/dist/index.html
  packages/icons/dist/index.mjs
  packages/icons/dist/index3.mjs
  packages/icons/dist/index5.mjs
  packages/icons/dist/style.css
  packages/icons/src/generatedReactIcons.tsx
  packages/icons/src/generatedTypes.ts
  packages/icons/src/system/check-figma-429.mts
  packages/icons/src/system/generate.mts
Due: eslint, prettier, styles

updated icons to app
  packages/app/src/components/FavoriteButton/FavoriteButton.tsx
Due: eslint, prettier, type-check-app, typograf-locales

TWClassNames.js fixes
  packages/ui-kit/src/styles/parseFigmaTokens.js
Due: eslint, prettier

removed todo
  TODO.md
Due: prettier

perf
  .gitignore
  README.md
  perf.mjs
Due: prettier

perf generator
  README.md
  package.json
  packages/app/src/i18n/i18n.d.ts
  perf-tests/generate.mjs
  perf-tests/perf.mjs
Due: eslint, prettier, type-check-app, typograf-locales

ts version
  .vscode/settings.json
Due: prettier

badge classes refactor
  packages/ui-kit/src/components/Badge/Badge.tsx
Due: eslint, prettier

dtsmap generator fix
  packages/common-utils/scripts/generateCssDtsMaps.js
Due: eslint, prettier

typed css improve
  packages/app/README.md
  packages/app/package.json
  packages/ui-kit/README.md
  packages/ui-kit/package.json
Due: prettier, typograf-locales

e2e improve
  packages/app/src/components/Layout/Layout.tsx
  packages/app/src/components/Layout/LayoutData.testIds.ts
  packages/e2e-tests/README.md
  packages/e2e-tests/basicClass.ts
  packages/e2e-tests/layout.test.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/playwright.config.ts
Due: eslint, prettier, type-check-app, typograf-locales

holy link
  README.md
Due: prettier

typo
  README.md
Due: prettier

typo 2
  README.md
Due: prettier

md links
  README.md
Due: prettier

config fixes
  packages/app/src/index.html
  packages/e2e-tests/tsconfig.json
Due: prettier, typograf-locales

css vars improve
  .prettierignore
  README.md
  packages/common-utils/README.md
  packages/common-utils/scripts/stylelint-plugin-css-vars/constants.js
  packages/common-utils/scripts/stylelint-plugin-css-vars/find-css-vars-errors.js
  packages/common-utils/scripts/stylelint-plugin-css-vars/generate-css-vars-list.js
  packages/common-utils/scripts/stylelint-plugin-css-vars/plugin.js
  packages/common-utils/scripts/stylelint-plugin-css-vars/utils.js
  packages/ui-kit/README.md
  packages/ui-kit/src/styles/parseFigmaTokens.js
  stylelint.config.mjs
Due: eslint, prettier

global.dts fix
  packages/app/src/css-modules.d.ts
  packages/app/src/global.d.ts
Due: eslint, prettier, type-check-app, typograf-locales

router fix
  packages/app/src/components/Layout/Layout.tsx
  packages/app/src/pages/Book/BookPage.tsx
  packages/app/src/router/routes.ts
Due: eslint, prettier, type-check-app, typograf-locales

texts
  packages/app/src/pages/Book/BookPage.tsx
Due: eslint, prettier, type-check-app, typograf-locales

refactor
  packages/app/src/pages/Book/BookPage.tsx
Due: eslint, prettier, type-check-app, typograf-locales

store rename
  packages/app/src/components/Layout/Layout.tsx
  packages/app/src/hooks/useFeatureToggles.ts
  packages/app/src/stores/FeatureToggleStore.ts
  packages/app/src/stores/index.ts
Due: eslint, prettier, type-check-app, typograf-locales

fixed css dtsmap generator
  packages/common-utils/scripts/generateCssDtsMaps.js
Due: eslint, prettier

demo script
  package.json
  stylelint.config.mjs
Due: prettier

updated demo script
  package.json
Due: prettier

fixed getRouteParam
  packages/app/src/router/routes.ts
Due: eslint, prettier, type-check-app, typograf-locales

text test
  packages/e2e-tests/layout.test.ts
Due: eslint, prettier

reactiveT
  packages/app/src/pages/Home/Home.tsx
Due: eslint, prettier, type-check-app, typograf-locales

test export
  packages/app/src/components/Layout/LayoutData.testIds.ts
Due: eslint, prettier, type-check-app, typograf-locales

routes Experimental
  README.md
  packages/app/README.md
  packages/app/src/router/experimentalRouter.tsx
Due: eslint, prettier, type-check-app, typograf-locales

added useCssVariable
  README.md
  packages/app/README.md
  packages/app/src/components/FavoriteButton/FavoriteButton.tsx
  packages/ui-kit/README.md
  packages/ui-kit/src/hooks/index.ts
  packages/ui-kit/src/hooks/useCssVariable.ts
  packages/ui-kit/src/index.ts
  packages/ui-kit/src/styles/parseFigmaTokens.js
Due: eslint, prettier, type-check-app, typograf-locales

refactoring
  packages/app/README.md
  packages/app/src/components/FavoriteButton/FavoriteButton.tsx
  packages/app/src/components/Layout/Layout.tsx
  packages/app/src/pages/Book/BookPage.tsx
  packages/app/src/router/experimentalRouter.tsx
  packages/app/src/router/routes.ts
Due: eslint, prettier, type-check-app, typograf-locales
